body {
    background-color: #fff;
    
}
* {
    box-sizing: border-box;
}
p{
    font-family: 'Sen';
    font-weight: 500;
    line-height: 1.6;
    font-size: smaller;
    color: #003B4A;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Sen';
    font-weight: 600;
    font-size: 4rem;
    color: #003B4A;
}
.intro-section{
    padding: 5%;
}

.record {
    width: 5%;
}
span {
    background-color: #D96098;
    color: #fff;
    padding:0.5%;
}
.input-group{
    width: 50%;
}
:placeholder-shown{
    font-family: 'Sen';
    font-weight: 600;
    font-size: smaller;
    color: #003B4A;
}