{% extends 'base.html' %}

{% block content %}

<div class="container intro-section text-center">
    <h1>DISCOVER <br>YOUR <span>SOUND </span></h1>
    <p>Search for music from all over the world</p>
</div>


<div class="text-center">
    <form class="search-container" method="get">
        <label for="song"></label>
        <input class="form-rounded" type="text" name="term" id="term" placeholder=" Search for a song">

        <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>


<div class="container results text-center d-flex justify-content-center p-3">
    <div>
        <img class="cover-image" src="{{share.image}}" alt="">
    </div>
    <div class="mt-2 mr-4">
        <p><span>SONG</span> {{track.title}}</p>
        <p><span>ARTIST</span> {{track.subtitle}}</p>
        <a target='_blank' href="{{share.href}}"><i class="far fa-play-circle"></i></a>
    </div>
</div>


{% endblock %}